body{
  margin:0 !important;
}
.proto-modal{
	border-radius: 4px;
	height: 430px;
	overflow: hidden;
	padding: 12px;
	font-family: "cabin";
}

.proto-modal-image{
	background: #efefef;
	height: 140px;
	width: 140px;
	float: right;
	overflow: hidden;
	margin-right: 0px !important;
}
.proto-modal-image img{
	height: 140px;
	width: 140px;
}

.proto-modal-header{
	border-bottom: 1px solid #efefef;
	padding-bottom: 12px;
	margin-bottom: 12px;
	display: inline-block;
	width: 100%;
	position: relative;
}

.proto-modal-title{
	color: black;
	font-size: 34px;
	position: absolute;
	bottom: 12px;
	left: 0px;
	font-family: "cabin";
	font-weight: bold;
}

.proto-modal-title .proto-small{
	font-size: 18px;
	vertical-align: top;
	padding-top: 5px;
	display: inline-block;
}

.proto-title-pretext{
	font-size: 13px;
	margin-bottom: 10px;
	font-weight: normal;
	color: #333;
}

.proto-modal-close-icon{
	position: absolute;
	right: 0px;
	top: 0px;
	background: #e03832;
	height: 25px;
	width: 25px;
	border-radius: 50px;
}

.proto-modal-content{
	font-size: 12px;
	color: #333;
	line-height: 19px;
}

.proto-content-left{
	width: 220px;
	display: inline-block;
}
.proto-description strong {
	color: #e03832;
	font-weight: normal;
}
.proto-description p {
	margin: 0px;
}
.proto-content-right{
	width: 276px;
	float: right;
}

.proto-modal-footer{
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 12px;
	border-top: 1px solid #efefef;
	display: inline-block;
	width: 100%;
	line-height: 17px;
	font-size: 10px;
	color: #777;
	box-sizing: border-box;
}

.proto-hint-text{
	font-size: 10px;
	color: #777;
	line-height: 17px;
}

.proto-parameter-name{
	display: inline-block;
}

.proto-single-parameter{
	padding-bottom:7px;
}

.proto-parameter-value{
	display: inline-block;
	float: right;
}

.protograph-star {
  font-size: 28px !important;
}
.protograph-star-small {
	margin-right: 0px !important;
	font-size: 12px !important;
}
.protograph-active-star {
  color: #f7ca4a;
}
.protograph-inactive-star {
  color: #e3e3e3;
}

.proto-modal-mobile{
	height: auto !important;
}

.proto-modal-mobile .proto-modal-image{
	height: 80px;
	width: 80px;
}

.proto-modal-mobile .proto-modal-image img{
	height: 80px;
	width: 80px;
}

.proto-modal-mobile .proto-modal-title{
	font-size: 24px;
}

.proto-modal-mobile .proto-content-left{
	margin-right: 0px;
	width: 276px;
	margin-bottom: 20px;
}

.proto-modal-mobile .proto-modal-footer{
	position: relative;
	padding: 0px;
	padding-top: 12px;
	margin-top: 12px;
}

.col-2-grid-card {
	width: 140px;
	overflow: hidden;
}
.col-2-name {
  height: 18px;
  font-size: 14px;
  font-weight: 500;
}
.col-2-image {
  width: 140px;
  height: 140px;
}